@import "tailwindcss";
@plugin "tailwind-scrollbar";

@font-face {
  font-family: "IBM Plex Mono NerdFont";
  font-family: face;
  src: url("./assets/BlexMonoNerdFont-Regular.ttf");
}

@import "https://www.nerdfonts.com/assets/css/webfont.css";

body {
  font-family: "IBM Plex Mono NerdFont", "Consolas", monospace;
  font-weight: 400;
  font-style: normal;
}

.code-scrollbar {
  scrollbar-color: var(--color-green-500) transparent;
  scrollbar-width: thin;
  scroll-snap-type: y proximity;
}