@import "tailwindcss";
@plugin "tailwind-scrollbar";

@font-face {
  font-family: "IBM Plex Mono NerdFont";
  font-family: face;
  src: url("./assets/BlexMonoNerdFont-Regular.ttf");
}

@import "https://www.nerdfonts.com/assets/css/webfont.css";

body {
  font-family: "IBM Plex Mono NerdFont", "Consolas", monospace;
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-display: "IBM Plex Mono NerdFont", "Consolas", monospace;
}

.w-84 {
    width: calc(var(--spacing) * 84) /* 20rem = 320px */;
}

.code-scrollbar {
  scrollbar-color: var(--color-green-500) transparent;
  scrollbar-width: thin;
  scroll-snap-type: y proximity;
}

.blinker {
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  background-color: var(--color-green-500);
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.w-1{
  width: 0.5rem;
}

.w-2{
  width: 1rem;
}

.w-3{
  width: 1.5rem;
}

.w-4{
  width: 2rem;
}

.w-5{
  width: 2.5rem;
}

.w-6{
  width: 3rem;
}

.w-7{
  width: 3.5rem;
}
.w-8{
  width: 4rem;
}
.w-9{
  width: 4.5rem;
}
.w-10{
  width: 5rem;
}
.w-12{
  width: 6.5rem;
}
.w-14{
  width: 7rem;
}